/* RESPONSIVE  */

@media screen and (min-width: 768px) {

/* Section-1 */
.top, .bot{
    display: flex;
    flex-wrap: wrap;  
}
    
.card {
    width: calc(100% / 3 - 20px);
    height: 30rem;
}
    
.large {
    width:calc(60% + 20px);
    height: 30rem;
}

.top-card-large {
    text-align: left;
}

.bot-card-large img {
   width: 50%;
   height: 100%;
}

.button {
    width: 50%;
}

/* Section-2 */
.strategic-card {
    width: 30rem;
    margin: 0 auto;
}

.app-develop {
    width: 30rem;
    margin: 0 auto;
    margin-top: 2rem;
}










}


@media screen and (min-width: 992px) {

/* HEADER  */

.bottom-header {
    display: flex;
}

.header ul {
    list-style-type: none;
    display: flex;
    gap: 1.5rem;
}

ul li {
    text-decoration: none;
}

.white-button {
    padding: 10px 10px;
    text-align: center;
    background-color: white;
    border-radius: 50px;
}

.header i {
    display: none;
}

/* Section-1  */
main {
    margin: 5rem 5rem;
}  

.top, .bot{
    display: flex;
    flex-wrap: wrap;  
}
    
.card {
    height: 18rem;
    margin: 10px;
    font-size: 0.7rem;
}
    
.large {
  
}


/* Section-2  */
.strategic-planner {
    width: 90%;
    display: flex;
    margin: 0 auto;
    gap: 2rem;
}

.strategic-card, .app-develop{
    width: 40%;
}

}



   
