/* RESPONSIVE  */

@media screen and (min-width: 768px) {

/* Section-1 */
.top, .bot{
    display: flex;
    flex-wrap: wrap;  
}
    
.card {
    width: calc(100% / 3 - 20px);
    height: 30rem;
}
    
.large {
    width:calc(60% + 20px);
}

/* Section-2 */
.strategic-card {
    width: 30rem;
    margin: 0 auto;
}

.app-develop {
    width: 30rem;
    margin: 0 auto;
    margin-top: 2rem;
}










}


@media screen and (min-width: 992px) {
 
/* Section-1  */
main {
    margin: 5rem 5rem;
}   

.top, .bot{
    display: flex;
    flex-wrap: wrap;  
}
    
.card {
    width: calc(100% / 3 - 20px);
    height: 20rem;
}
    
.large {
    width: calc(60% + 20px);
}

/* Section-2  */
.strategic-planner {
    width: 90%;
    display: flex;
    margin: 0 auto;
    gap: 2rem;
}

.strategic-card, .app-develop{
    width: 40%;
}

}



   
