/* RESPONSIVE  */

@media screen and (min-width: 768px) {

/* Section-1 */
.top, .bot{
    display: flex;
    flex-wrap: wrap;  
}
    
.card {
    width: calc(100% / 3 - 20px);
}
.card-group {
    margin: 5rem 5rem;
}
    
.large {
    width:calc(100% / 3 * 2 - 20px);
}

.top-card-large {
    text-align: left;
}

.bot-card-large img {
   width: 250px;
}

.button {
    width: 50%;
}

/* Section-2 */
.strategic-planner {
    margin: 5rem 5rem;
}

.strategic-card {
    width: 30rem;
    margin: 5rem 5rem;
}

.app-develop {
    width: 30rem;
    margin: 2rem auto 2rem auto;
}

/* Section-3 */
.container-sec3 {
    margin-top: 3rem;
}

.card-testimonial {
    display: flex;
    width: 80%;
    border-radius: 25px;
    margin: 1rem auto 1rem auto;
    padding: 30px 30px 0 30px;
    background-color: #9792E4;
}

}

@media screen and (min-width: 992px) {

/* HEADER  */
.bottom-header {
    display: flex;
}

.header ul {
    list-style-type: none;
    display: flex;
    gap: 1.5rem;
}

ul li {
    padding: 10px;
}

ul li a {
    text-decoration: none;
    color: white;
}

.white-button {
    padding: 10px 10px;
    text-align: center;
    background-color: white;
    border-radius: 50px;
}

.white-button a {
    color: black;
}

.header i {
    display: none;
}

/* Section-1  */
.top, .bot{
    display: flex;
    flex-wrap: wrap;  
}
    
.card {
    margin: 10px;
}

/* Section-2  */
.strategic-planner {
    width: 80%;
    display: flex;
    margin: 0 5rem;
    gap: 2rem;
}

.strategic-card, .app-develop{
    width: 40%;
}

}
