/* RESET  */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family:'PT Sans', sans-serif;
}

/* COMMONS */

.button {
    color: white;
    background-color: #0084FD;
    padding: 10px 10px;
    border-radius: 50px;
    text-align: center;
}

/* HEADER  */
.header {
    display: flex;
    justify-content: space-between;
    color: white;
    background-color: #0084FD;
    padding: 1.5rem 1rem;
}

.header i {
    font-size: 1.8rem; 
}

.bottom-header {
    display: none;
}

/* MAIN  */
/* Section-1 */
.card {
    width: 20rem;
    background-color: #B5DDFF;
    border-radius: 5%;
    margin: 1rem auto 1rem auto;
    padding: 30px 30px 0 30px;
    text-align: center;
}

.card i {
    padding-top: 1.3rem;
    font-size: 3.8rem;
}

.card-group h3 {
    color: #0084FD;  
    font-size: 1.5rem; 
}

.card p {
    padding: 20px 0;
}

.bot-card-large img {
    width: 100%;
    padding-top: 1.5rem;
}

#apple {
    font-size: 1rem;
    padding: 0;
}

.top-card-large {
    text-align: left;
}

.top-card {
    color: #0084FD;
    font-size: 1.5rem;
    line-height: 4rem;
}

/* Section-2 */
.strategic-planner{
    background-color: #9792E4;
}

.strategic-card {
    margin: 2rem;
}

.strategic-card img {
    width: 80%;
    margin: 0 50px;
}

.strategic-card h3 {
    color: white;
    margin-top: 100px;
}

.app-develop img {
    width: 80%;
}

.strategic-planner {
    color: white;
}

.bg-lilla {
    background-color: #9792E4;
    width: 100vw;
}

.app-develop {
    margin: 2rem;
    width: 19rem;
    border-radius: 50px;
    padding: 0 0 20px 30px;
    text-align: center;
}  

.app-develop-container {
    padding: 30px 30px 10px 30px;
    background-color: white;
    border-radius: 50px;
    margin-top: 100px;
}

.bg-lilla {
    padding-bottom: 10px;
    padding-top: 10px
}

.circle {
    background-color: #9792E4;
    border-radius: 60%;
    width: 2.5rem;
    height: 2.5rem;
    margin: 0 auto;
    line-height: 2.5rem;
}

.app-develop p {
    color: black;
    line-height: 2rem;
    font-size: 1.1rem;
    padding: 1rem 0 1rem 0;
}

/* Section-3  */
.container-sec3 {
    text-align: center;
}

.card-text {
    margin: 20px 5rem;
}

.card-text h3 {
    color: #9792E4;
    margin: 0 auto;
}

.card-text p {
    font-size: 18px;
}

.card-testimonial {
    width: 20rem;
    border-radius: 5%;
    margin: 1rem auto 1rem auto;
    padding: 30px 30px 0 30px;
    background-color: #9792E4;
    color: white;
}

.img-radius img{
    object-fit: cover;
    border-radius: 50%;
    width: 150px;
    height: 150px;
}

.card-testimonial  p {
    margin-bottom: 20px;
}

.text-testimonials h4{
    margin: 30px 10px;
}