/* RESET  */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family:'PT Sans', sans-serif;
}

/* COMMONS */


.button {
    color: white;
    background-color: #0084FD;
    padding: 10px 10px;
    border-radius: 50px;
    text-align: center;
}

/* HEADER  */
.header {
    display: flex;
    justify-content: space-between;
    color: white;
    background-color: #0084FD;
    padding: 1.5rem 1rem;
}

.header i {
    font-size: 1.8rem; 
}

.bottom-header {
    display: none;
}

/* MAIN  */

/* Section-1 */
.card {
    width: 20rem;
    background-color: #B5DDFF;
    border-radius: 5%;
    margin: 1rem auto 1rem auto;
    padding: 30px 30px 0 30px;
    text-align: center;
}


.card i {
    padding-top: 1.3rem;
    font-size: 3.8rem;
}

.card-group h3 {
    color: #0084FD;  
    font-size: 1.5rem; 
}

.card p {
    padding: 20px 0;
}

.bot-card-large img {
    width: 100%;
    padding-top: 1.5rem;
}

#apple {
    font-size: 1rem;
    padding: 0;
}
.top-card-large {
    text-align: left;
}

.top-card {
    color: #0084FD;
    font-size: 1.5rem;
    line-height: 4rem;
}


/* Section-2 */

.strategic-planner{
    background-color: #9792E4;
}

.strategic-card {
    margin: 2rem;
    /* debug */
    height: 25rem;
    background-color: rgb(224, 167, 224);
}

.app-develop {
    margin: 2rem;
    /* debug */
    height: 20rem;
    background-color: rgb(224, 167, 224);
}

/* Section-3  */

.container-sec3 {
    display: flex;
    flex-wrap: wrap;
}

.card-testimonial {
    background-color: lightskyblue;
}